
.container-1 {
    display: flex;
    flex-wrap:wrap;
    height: 550px;
    width: 900px;
    border-style: solid;
    border-radius: 6px;
    border-color: black;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-right: 90px;
    background-color: white;
}

.top {
    text-align: center;
}
.container {
    display: flex;
}
.container div {
    flex: 1;
    gap: 50px;
}
.content {
    display: block;
}
button {
    border-radius: 8px;
    margin: 25px 0 0 200px;
    width: 85px;
    height: 50px;
    margin-left: 25%;
}
.darkening:hover{
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  font-size: 15px;
  color: rgb(235, 2, 2);
  height: 60px;
  width: 90px;
}
.eraser:hover {
    background-color: fuchsia;
    font-size: 18px;
    color: darkgreen;
}
.pencil:hover {
    background-color: black;
    color: white;
    font-size: 18px;
}
.i-hate-it {
    display: flex;
    flex-wrap: wrap;
}
.i-hate-it div {
    flex: 1;
    gap: 0px;
}
body {
    background-color: yellow;
    margin: 0;
    padding: 0;
}
.size:hover {
    background-color: brown;
    font-size: 17px;
    color: white;
    height: 60px;
    width: 90px;
    box-shadow: 2px 2px 4px rgba(211, 3, 3, 0.2);
}
.reset:hover {
    background-color: blueviolet;
    font-size: 17px;
    color: white;
    height: 60px;
    width: 90px;
    box-shadow: 2px 2px 4px rgba(211, 3, 3, 0.2);;
}
