.container-1 {
    display: flex;
    flex-wrap:wrap;
    height: 650px;
    width: 850px;
    border-width: 8px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    margin-left: 30%;
    margin-top: 50px;
    flex-direction: row;
    align-content: flex-start;
}
.size {
   margin-left: 40%;
}
.top {
    text-align: center;
}